body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

label {
	font-weight: normal;
}

.welcome-container {
	text-align: center;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 98%;
  color: white;
}

.welcome-title {
	background-color: rgba(168,99,99,0.5);
}

.welcome-title h1 {
	font-size: 80px;
	font-weight: bold;
	font-family: 'Cairo', sans-serif;
}

.welcome-title h2 {
	font-size: 30px;
	font-family: 'Gentium Basic', serif;
}

.welcome-container .btn {
	font-family: 'Cairo', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.welcome-container input {
	width: 20%; 
	margin: 0 auto;
	text-align: center;
	font-family: 'Cairo', sans-serif;
}

.main-header {
	background-color: #43448c;
	height: 150%;
	margin-bottom: 5%;
}

.page-header {
	margin-top: -1.5%;
}

a#login.btn {
	color: white;
	margin-top: 10%;
	border: white;
}

.main-header h1 {
	font-family: 'Cairo', sans-serif;
	font-weight: bold;
	font-size: 50px;
	color: white;
}

.nav-pills a {
  color: #43448c;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: #43448c;
	color: white;
}

/*
Modifying the width of list items on the Notes and Feedback page
*/
.listed-item {
	width: 300px;
}

.sticky {
  position: relative;
  top: 0; }

/* Task page CSS */

/* Puts the hamburger in the right place horizontally. */
.task-item {
	width: 75%;
}

/* todo: align vertically center */
.task-item > .glyphicon-menu-hamburger {
	float: right;
}

/*To allow the modal to scroll*/
.modal {
	overflow:auto;
}

 /* Menubar styling */
 .menu-link > span {
   margin-right: 8px;
 }

/* All links will have the pointer-cursor */
a {
	cursor:pointer
}
/* Availabilities page styling */
.listed-item-availability {
	width: 50%;
}

 .lecture-event {
 	background-color: #5253a8;
 }

 .quiz-event {
 	background-color: #a85252;
 }

 .lab-event {
 	background-color: #52a89b;
 }

/* Events Page Styling */
.fc-widget-content {
	cursor: pointer;
}

/*td.fc-day:hover {
	background-color: #f4f4f4;
}*/

.fc-event-container {
	opacity: 0.8;
}

.fc-event-container:hover {
	opacity: 1.0;
}

.event-filter-container {
	margin-right: 2%;
	border-top: thin solid #a8a9ad;
}

.event-filter {
	margin-top: 10%;
	margin-bottom: 5%;
}

.fc-list-item-title {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.fc-list-item-time {
	color: white;
	font-size: 16px;
}

.toggle-container {
	margin-right: 2%;
	margin-bottom: 5%;
	text-align:center;
}

.btn-primary {
	background-color: #43448c !important;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-color: #1a1a3a !important;
}

.add-event-button-container {
	border-top: thin solid #a8a9ad;
	margin-right: 2%;
	text-align: center;
}

#add-event-btn {
	margin-bottom: 10%;
	margin-top: 10%;
	background-color: #52a89b !important;
	border-color: #52a89b !important;
}
