.task-item {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  cursor: default;
}

/* todo: align vertically center */
.task-item > .pencil > .glyphicon-pencil {
  float: right;
  visibility: hidden;
  margin-right: 10px;
}